body, html {
    	height: 100%;
	width: 100%;
    	margin: 0;
}

.background {
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

.bg-img {
	height: 100%;
	width: 100%;
}

.timendate {
	position: relative;
	/*
  	filter: blur(8px);
  	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	-ms-filter: blur(8px);
	-o-filter: blur(8px);
	*/
}

.time {
	position: absolute;
	background-color: black;
	color: white;
	font-size : 48px;		
    	top: 40%;
    	left: 50%;
	margin-top: 40%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.date {
	position: absolute;
	background-color: black;
	color: white;
	font-size : 48px;
    	left: 50%;		
    	top: 45%;
	margin-top: 45%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
