body, html {
    height: 100%;
    margin: 0;
}

.background {
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

.bg-img {
	height: 100%;
	width: 100%;
}
