body, html {
    height: 100%;
    margin: 0;
}

.background {
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

.bg-img {
	height: 100%;
	width: 100%;
}

.timendate {
	position: relative;
}

.time {
	position: absolute;
	background-color: black;
	color: white;
	font-size : 64px;		
    	top: 40%;
    	left: 50%;
	margin-top: 40%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.date {
	position: absolute;
	background-color: black;
	color: white;
	font-size : 64px;		
    	top: 40%;
    	left: 50%;
	margin-top: 40%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
